html {
  scroll-behavior: smooth;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

input {
  border-radius: 8px;
  background-color: #fff;
}
label {
  display: block;
}

.cell-mode {
  &_overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }
  &_text-align {
    &_center {
      text-align: center;
    }
  }
}
