
@font-face {
  font-family: "Exo2";
  src: url("../fonts/Exo2-VariableFont_wght.ttf");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Exo2";
  src: url("../fonts/Exo2-VariableFont_wght.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Exo2";
  src: url("../fonts/Exo2-VariableFont_wght.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Exo2";
  src: url("../fonts/Exo2-VariableFont_wght.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Exo2";
  src: url("../fonts/Exo2-VariableFont_wght.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Exo2";
  src: url("../fonts/Exo2-VariableFont_wght.ttf");
  font-weight: 800;
}