@media screen and (max-width: 1440px) {
  :root {
    --page--side-padding: 2rem;
  }
}
@media screen and (max-width: 960px) {
  :root {
    --page--side-padding: 1rem;
  }
}

:root {
  --container-width: 1600px;
  --container-padding-x: 24px;
  --transition-duration: 0.2s;
}
//Media
$desktop: 1920px;
$notebook: 1440px;
$notebookS: 1280px;
$mainbreak: 1024px;
$tablet: 768px;
$mobile: 375px;
$breakpoint-gap: 16px;
